.cards {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.card {
  background-color: #1f2937;

}

.img-cards {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}