.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.imgCubo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 300px;
  object-fit: cover;

}

.title-cube {
  text-align: center;
  background-color: #1f2937b7;
  height: 50px;
  width: 100%;

}

@media (max-width: 620px) {
  .swiper {
    width: 300px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .imgCubo {

    align-items: flex-start;
  }
}

@media (max-width: 420px) {
  .swiper {
    width: 250px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
  }

  .imgCubo {

    align-items: flex-start;
  }
}

@media (max-width: 350px) {
  .swiper {
    width: 200px;
  }
}

@media (max-width: 950px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
  }

  .imgCubo {

    align-items: flex-start;
  }
}