.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  /* background-attachment: fixed; */
}