@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 15px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #0050af;
  border-radius: 5px;

}